@import 'base/typography';

@import 'components/alert';
@import 'components/blockquote';
@import 'components/buttons';
@import 'components/code';
@import 'components/image';
@import 'components/summary';
@import 'components/table';

@import 'layout/footer';
@import 'layout/header';
@import 'layout/navigation';
@import 'components/tag';

@import 'mobile/mobile';

@import 'utils/color';
@import 'utils/highlight';
@import 'utils/rouge-color';

::selection {
  color: #444;
  background: $c1;
}

html {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1rem;
  max-width: 720px;
  margin: 0 auto;
  word-wrap: break-word;
}

cite {
  font-size: 0.8em;
  margin-left: 1em;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  .bare {
    word-break: break-all;
  }
}

hr {
  border: 0.1px solid #d8dae1;
}

article {
  border-radius: 2px;
  box-shadow: 0 0 2px #3c485826;
  border: 1px solid #d8dae1;
  margin-bottom: 1rem;
  padding: 1rem;
}

input {
  font-size: 16px;
}

.text-center {
  text-align: center;
}

.attribution {
  font-size: 0.8em;
  margin-left: 1em;
}

.icon {
  display: inline-block;
  line-height: .75em;
  width: .4em;
  vertical-align: .1em;
}

ol > li {
  line-height: 1.8rem;
}

#signed {
  text-align: center;
  font-family: $mono;
}
