* {
  text-rendering: geometricPrecision;
}

::selection {
  color: #444;
  background: #f0d547;
}

html,
body {
  margin: 0
}

@media only screen and (max-width: 600px) {

  html,
  body {
    margin: 3vw;
  }
}

body {
  overflow-wrap: break-word;
  font-size: 1rem;
  line-height: 1.4rem;
  font-family: sans-serif;
  max-width: 720px;
  margin: 0 auto;
  align-items: stretch
}

nav {
  padding-top: 1rem;
  max-width: 720px;
  margin: auto;
}

h4 {
  margin-top: 0;
  margin-bottom: 1rem;
}

p {
  hyphens: auto;
}

cite {
  font-size: 0.8em;
  margin-left: 1em;
}

a.bare {
  word-break: break-all;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul>li,
ol>li {
  line-height: 2rem;
}

pre,
code {
  font-family: 'SF Mono', monospace;
  border-radius: .3rem;
  padding: 1rem;
}

pre {
  border: 1px dashed #000;
  overflow-x: scroll;
}

pre.highlight {
  padding: 20px;
}

code {
  font-size: .85rem;
  line-height: 0;
}

code:not(pre > code) {
  background-color: #fff8d3;
  border: 1px solid #f0d547;
  padding: .15rem .2rem .05rem;
}

hr {
  border: 0.1px solid #d8dae1;
}

blockquote {
  margin: 1em auto;
  /* padding: 1rem;
  border-left: 1rem solid #444;
  background-color: #f8f8f8;
  box-shadow: 0 0 2px #3c485826; */
}

/* untuk jekyll */
.quoteblock {
  margin: 1em auto;
  padding: 1rem;
  border-left: 1rem solid #444;
  background-color: #f8f8f8;
  box-shadow: 0 0 2px #3c485826;
}

summary {
  font-weight: 500;
}

details {
  border-radius: 2px;
  box-shadow: 0 0 2px #3c485826;
  border: 1px solid #d8dae1;
  margin-bottom: 1rem;
  padding: 1rem;
}

button {
  min-width: 90px;
}

input {
  font-size: 16px;
}

img {
  display: block;
  align-items: center;
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px #000 0.5;
}

svg {
  vertical-align: middle;
}

kbd {
  color: #444;
  border: 1px solid #444;
  border-bottom: 3px solid #444;
  border-radius: 5px;
  padding: 0.1rem 0.4rem;
}

mark {
  padding: 2px 5px;
  border-radius: 4px;
  background-color: #fd3;
}

.text-muted {
  color: #666
}

.text-success {
  color: #2bb34b
}

.text-danger {
  color: #ff3e3e
}

.button {
  display: inline-block;
  padding: .1rem .75rem;
  background: #e9ecef;
  border: #343a40 1px solid;
  font-size: .9rem;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  color: #000;
  border-radius: 0;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

.button:hover {
  text-decoration: none;
}

.avatar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: safe;
}

.avatar img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  filter: grayscale(100%);
  transition: 0.1s;
  padding: 2px;
}

.avatar img:hover {
  filter: grayscale(0%);
}

.text-center {
  text-align: center;
}

.attribution {
  font-size: 0.8em;
  margin-left: 1em;
}

.icon {
  display: inline-block;
  line-height: .75em;
  width: .4em;
  vertical-align: .1em;
}

.button:hover {
  text-decoration: none;
  background: #f8f9fa;
  color: #000
}

.button.btn-primary {
  border: #001933 1px solid;
  background: #007bff;
  color: #fff
}

.button.btn-primary:hover {
  background: #0069d9;
  color: #fff
}

.button.btn-info {
  border: #062a30 1px solid;
  background: #17a2b8;
  color: #fff
}

.button.btn-info:hover {
  background: #138496;
  color: #fff
}

.alert {
  padding: .5rem;
  border: 1px solid transparent;
  background-color: #F4F4F4;
  margin: 1rem 0 1rem 0;
}

.alert.alert-danger {
  background: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb
}

.alert.alert-info {
  background: #d1ecf1;
  color: #0c5460;
  border-color: #bee5eb
}

.alert>p {
  margin: 0;
}

/* highlight */
.highlight .cs,
.highlight .ge {
  font-style: italic
}

.highlight {
  background-color: #f8f8f8
}

.highlight table td {
  padding: 5px
}

.highlight table pre {
  margin: 0
}

.highlight .c,
.highlight .c1,
.highlight .cd,
.highlight .ch,
.highlight .cm,
.highlight .cpf {
  color: #998;
  font-style: italic
}

.highlight .cp,
.highlight .cs {
  color: #999;
  font-weight: 500
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2
}

.highlight .gd {
  color: #000;
  background-color: #fdd
}

.highlight .ge {
  color: #000
}

.highlight .gr,
.highlight .gt {
  color: #a00
}

.highlight .bp,
.highlight .gh {
  color: #999
}

.highlight .gi {
  color: #000;
  background-color: #dfd
}

.highlight .go {
  color: #888
}

.highlight .gp,
.highlight .nn {
  color: #555
}

.highlight .gs {
  font-weight: 500
}

.highlight .gu {
  color: #aaa
}

.highlight .k,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv,
.highlight .o,
.highlight .ow,
.highlight .sa {
  color: #000;
  font-weight: 500
}

.highlight .kt,
.highlight .nc {
  color: #458;
  font-weight: 500
}

.highlight .il,
.highlight .m,
.highlight .mb,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .mo,
.highlight .mx {
  color: #099
}

.highlight .dl,
.highlight .s,
.highlight .s1,
.highlight .s2,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .se,
.highlight .sh,
.highlight .si,
.highlight .sx {
  color: #d14
}

.highlight .sr {
  color: #009926
}

.highlight .ss {
  color: #990073
}

.highlight .na,
.highlight .no,
.highlight .nv,
.highlight .vc,
.highlight .vg,
.highlight .vi,
.highlight .vm {
  color: teal
}

.highlight .nb {
  color: #0086b3
}

.highlight .nd {
  color: #3c5d5d;
  font-weight: 500
}

.highlight .ni {
  color: purple
}

.highlight .fm,
.highlight .ne,
.highlight .nf,
.highlight .nl {
  color: #900;
  font-weight: 700
}

.highlight .nt {
  color: navy
}

.highlight .w {
  color: #bbb
}