@import 'utils/color';
@import 'utils/font';
// @import 'utils/highlight';
@import 'utils/rouge-color';
@import 'utils/size';

@import 'base/typography';

@import 'components/alert';
@import 'components/author';
@import 'components/blockquote';
@import 'components/buttons';
@import 'components/code';
@import 'components/image';
@import 'components/summary';
@import 'components/table';

@import 'layout/footer';
@import 'layout/header';
@import 'layout/navigation';
@import 'components/tag';

@import 'mobile/mobile';

body {
    max-width: $page-width;
    margin: 0 auto;
}

hr {
    border: 0.1px solid #d8dae1;
}

.attribution {
    font-size: 0.8em;
    margin-left: 1em;
}

ol,
ul {
    >li {
        line-height: 1.8rem;
    }
}