@media only screen and (max-width: 720px) {
    html {
        margin: 3vw;
    }

    body {
        margin: 3vw;
    }

    nav {
        display: block;
        padding-top: 1rem;
        width: 100%;

        .right {
            text-align: left;
        }
    }
}