.img-author {
  border: 1px solid grey;
  border-radius: 50%;
  color: transparent;
  float: left;
  height: 48px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 48px;
  margin: 0 .5rem 0 0;
}

.author-name {
  font-family: $inter;
  line-height: 1rem;
  padding-top: .5rem;
  margin-bottom: .1rem;
}

.time-post {
  font-family: $inter;
  opacity: 0.8;
  font-size: 0.8rem;
  line-height: 1rem;
  margin-top: .1rem;
}