button {
    min-width: 144px;
    border-radius: .2em;
    cursor: pointer;
    display: inline-block;
    padding: .1rem .75rem;
    box-shadow: 0 0 2px $silver-500;
    font-size: $font-size-small;
    line-height: 1.5;
}

.button {
    border: #c6cbd0 1px solid;
    background: #fff;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:hover {
        background: #f8f9fa;
    }
}