@import '../utils/color';

button {
    min-width: 144px;
    border-radius: .2em;
    cursor: pointer;
    display: inline-block;
    padding: .1rem .75rem;
    box-shadow: 0 0 2px $silver-500;
}

.button {
    border: #c6cbd0 1px solid;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    background: #fff;
    
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

    &:hover {
        text-decoration: none;
        background: #f8f9fa;
    }
}

.btn {
    &-primary {
        border: $blueberry-700 1px solid;
        background: $blueberry-500;
        color: #fff;

        &:hover {
            background: $blueberry-700;
            color: #fff;
        }
    }

    &-info {
        border: $lime-700 1px solid;
        background: $lime-500;
        color: #fff;

        &:hover {
            background: $lime-700;
            color: #fff;
        }
    }

    &-danger {
        border: $strawberry-700 1px solid;
        background: $strawberry-500;
        color: #fff;

        &:hover {
            background: $strawberry-700;
            color: #fff;
        }
    }
}