img {
    margin: 1em auto;
    display: block;
    border-radius: 2px;
    box-shadow: 1em 1em #000 0.5;
    max-width: 100%;
}

svg {
    vertical-align: middle;
}

.ava {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: safe;
}

.avatar {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.1s;
    padding: 2px;

    &:hover {
        filter: grayscale(0%);
    }
}