$c1: #FF7AC6;
$c2: #FFFFFF;
$black: #343232;
$grey: #B8B8B8;
$purple: #6E0B75;
$pastel: #D1C1D7;
$lofi: #0D0D0D;
$aqua: #09E9F1;
$forest: #1EB854;
$garden: #5C7F67;
$halloween: #F28C18;
$valentine: #E96D7B;
$syberpunk: #FFEE00;
$retro: #EF9995;
$ret2: #E4D8B4;
$synthwave: #2D1B69;
$corporate: #4B6BFB;
$emeral: #66CC8A;
$bumblebee: #E0A82E;
$cupcake: #65C3C8;
$select: #f0d547;

$banana-300: #ffe15b;
$banana-900: #ad5f00;
