.highlight {
    padding-bottom: .1rem;

    .cs {
        font-style: italic;
        color: #999;
        font-weight: 500;
    }

    .ge {
        font-style: italic;
        color: #000;
    }

    table {
        td {
            padding: 5px;
        }

        pre {
            margin: 0;
        }
    }

    .c {
        color: #998;
        font-style: italic;
    }

    .c1 {
        color: #998;
        font-style: italic;
    }

    .cd {
        color: #998;
        font-style: italic;
    }

    .ch {
        color: #998;
        font-style: italic;
    }

    .cm {
        color: #998;
        font-style: italic;
    }

    .cpf {
        color: #998;
        font-style: italic;
    }

    .cp {
        color: #999;
        font-weight: 500;
    }

    .err {
        color: #a61717;
        background-color: #e3d2d2;
    }

    .gd {
        color: #000;
        background-color: #fdd;
    }

    .gr {
        color: #a00;
    }

    .gt {
        color: #a00;
    }

    .bp {
        color: #999;
    }

    .gh {
        color: #999;
    }

    .gi {
        color: #000;
        background-color: #dfd;
    }

    .go {
        color: #888;
    }

    .gp {
        color: #555;
    }

    .nn {
        color: #555;
    }

    .gs {
        font-weight: 500;
    }

    .gu {
        color: #aaa;
    }

    .k {
        color: #000;
        font-weight: 500;
    }

    .kc {
        color: #000;
        font-weight: 500;
    }

    .kd {
        color: #000;
        font-weight: 500;
    }

    .kn {
        color: #000;
        font-weight: 500;
    }

    .kp {
        color: #000;
        font-weight: 500;
    }

    .kr {
        color: #000;
        font-weight: 500;
    }

    .kv {
        color: #000;
        font-weight: 500;
    }

    .o {
        color: #000;
        font-weight: 500;
    }

    .ow {
        color: #000;
        font-weight: 500;
    }

    .sa {
        color: #000;
        font-weight: 500;
    }

    .kt {
        color: #458;
        font-weight: 500;
    }

    .nc {
        color: #458;
        font-weight: 500;
    }

    .il {
        color: #099;
    }

    .m {
        color: #099;
    }

    .mb {
        color: #099;
    }

    .mf {
        color: #099;
    }

    .mh {
        color: #099;
    }

    .mi {
        color: #099;
    }

    .mo {
        color: #099;
    }

    .mx {
        color: #099;
    }

    .dl {
        color: #d14;
    }

    .s {
        color: #d14;
    }

    .s1 {
        color: #d14;
    }

    .s2 {
        color: #d14;
    }

    .sb {
        color: #d14;
    }

    .sc {
        color: #d14;
    }

    .sd {
        color: #d14;
    }

    .se {
        color: #d14;
    }

    .sh {
        color: #d14;
    }

    .si {
        color: #d14;
    }

    .sx {
        color: #d14;
    }

    .sr {
        color: #009926;
    }

    .ss {
        color: #990073;
    }

    .na {
        color: teal;
    }

    .no {
        color: teal;
    }

    .nv {
        color: teal;
    }

    .vc {
        color: teal;
    }

    .vg {
        color: teal;
    }

    .vi {
        color: teal;
    }

    .vm {
        color: teal;
    }

    .nb {
        color: #0086b3;
    }

    .nd {
        color: #3c5d5d;
        font-weight: 500;
    }

    .ni {
        color: purple;
    }

    .fm {
        color: #900;
        font-weight: 700;
    }

    .ne {
        color: #900;
        font-weight: 700;
    }

    .nf {
        color: #900;
        font-weight: 700;
    }

    .nl {
        color: #900;
        font-weight: 700;
    }

    .nt {
        color: navy;
    }

    .w {
        color: #bbb;
    }
}