@mixin headings($base) {
    @for $i from 1 through 6 {
        h#{(6 + 1) - $i},
        .h#{(6 + 1) - $i} {
            font-size: #{$base + ((calc($base / 2)) * $i)};
            font-family: $inter;
            text-align: center;
        }
    }
}