@import url('https://fonts.googleapis.com/css2?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=Inter');

@import '../utils/mixins';

$mono: 'Roboto Mono', monospace;
$garamond: 'EB Garamond', serif;
$inter: 'Inter', sans-serif;

* {
    text-rendering: geometricPrecision;
}

body {
    font-family: $inter;
}

p {
    font-family: $garamond;
    font-size: 22px;
    line-height: 1.3em;
}

// @include headings(.7rem);
