@import "../utils/font";

* {
    text-rendering: geometricPrecision;
}

body {
    font-family: $inter;
}

h1 {
    text-align: center;
}

p {
    line-height: 32px;
    font-size: $font-size;
}

a {
    color: #0060df;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    .bare {
        word-break: break-all;
    }
}