@import url('https://fonts.googleapis.com/css2?family=Vollkorn');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');
@import url('https://fonts.googleapis.com/css2?family=Inter');

@import '../utils/mixins';

$mono: 'Roboto Mono', monospace;
$garamond: 'Vollkorn', serif;
$inter: 'Inter', sans-serif;

:root {
    font-family: $inter;
}

* {
    text-rendering: geometricPrecision;
}

@include headings(.7rem);
